@using System.ComponentModel.DataAnnotations
<h3>CredentialsEntry</h3>


<EditForm Model="@credentials" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div>
        <label for="username">Username (Email)</label>
        <InputText id="username" @bind-Value="credentials.Username"/>
        <ValidationMessage For="@(() => credentials.Username)"/>
    </div>

    <div>
        <label for="password">Password</label>
        <InputText type="password" id="password" @bind-Value="credentials.Password"/>
        <ValidationMessage For="@(() => credentials.Password)"/>
    </div>

    <div>
        <label for="confirmPassword">Confirm Password</label>
        <InputText type="password" id="confirmPassword" @bind-Value="credentials.ConfirmPassword"/>
        <ValidationMessage For="@(() => credentials.ConfirmPassword)"/>
    </div>

    <button type="submit">Submit</button>
</EditForm>

@code {
    private Credentials credentials = new();

    private void HandleValidSubmit()
    {
        // Handle the form submission logic here
    }

    public class Credentials
    {
        [Required] [EmailAddress] public string Username { get; set; }

        [Required] [MinLength(6)] public string Password { get; set; }

        [Required]
        [Compare(nameof(Password), ErrorMessage = "Passwords do not match.")]
        public string ConfirmPassword { get; set; }
    }

}

@code {
    
}