<CascadingValue Value="this">
    <div id="@Id">
        @if (ShowPills)
        {
            <ul class="nav nav-pills nav-justified">
                @foreach (var step in _steps)
                {
                    <li id="step-@(StepsIndex(step) + 1)" class="nav-item">
                        <a class="nav-link @(ActiveStep == step ? "active" : "")" href="javascript: void(0)"
                           @onclick="@(_ => SetActive(step))">@step.Title</a>
                    </li>
                }
            </ul>
        }
        @if (ShowTitle)
        {
            <h3>@ActiveStep?.Title</h3>
        }

        <div id="container-fluid">
            @ChildContent
        </div>
    </div>
    <button class="@CssPreviousButton" type="button" disabled="@(IndexActiveStep == 0)"
            @onclick="PreviousButtonClicked">@TextPreviousButton </button>


    @if (ShowNextButton || (ShowSubmitButton && IsLastStep))
    {
        <button class="@CssNextButton" type="@(IsLastStep ? "submit" : "button")"
                @onclick="NextOrSubmitButtonClicked">@(IsLastStep ? SubmitButton : TextNextButton)</button>
    }


</CascadingValue>
